extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img=fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at euismod elit. Donec blandit eu augue id pellentesque. Nulla pretium ultricies odio, non volutpat urna. Vivamus at nunc non odio aliquam elementum. Suspendisse potenti. Mauris blandit molestie tortor non fringilla. Cras interdum neque eget est blandit fermentum. Curabitur posuere diam in ante egestas, in pulvinar urna consequat. In sem ante, ullamcorper non porttitor a, maximus non neque.
                p Mauris nec arcu in tortor vehicula feugiat vel at est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                p Cras volutpat malesuada convallis. Cras pulvinar urna erat, quis dictum ex viverra a. Sed sodales semper purus a luctus. Suspendisse iaculis, justo at placerat euismod, libero arcu dictum lorem, nec gravida turpis nunc eget leo. Donec faucibus diam ex, eu laoreet ante dictum eget.
        .listado-iconos
            .container.mt-5.py-5.text-center
                .row
                    .col-md-4
                        img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                        h2.mb-4 Seguridad
                        p In fringilla nisi sit amet magna tristique lobortis. Sed tristique arcu sed sapien tempor.
                    .col-md-4
                        img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                        h2.mb-4 Mejores Destinos
                        p In fringilla nisi sit amet magna tristique lobortis. Sed tristique arcu sed sapien tempor.
                    .col-md-4
                        img(src="img/icono_precios.svg", class="img-fluid mb-4")
                        h2.mb-4 Mejor Precio
                        p In fringilla nisi sit amet magna tristique lobortis. Sed tristique arcu sed sapien tempor.